# Vercel
.vercel

# Environment variables
.env*.local

# Dependencies
node_modules/

# Next.js
.next/
out/

# Build
build/
dist/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts
